<!-- src/app/components/register/register.component.html -->
<div class="container text-center">
    <h2 class="mb-4 text-warning">Regístrate</h2>
    <form>
      <div class="mb-3">
        <label for="username" class="form-label">Nombre de Usuario</label>
        <input type="text" class="form-control" id="username" />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" />
      </div>
      <div class="mb-3">
        <label for="confirm-password" class="form-label">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="confirm-password" />
      </div>
      <button type="submit" class="btn btn-warning">Registrar</button>
    </form>
  </div>
  