<div class="container text-center">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="#" class="navbar-brand text-warning">GameHub</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Categorías</a>
                </li>
            </ul>
            <form action="" class="d-flex">
                <input type="search" class="form-control me-2" placeholder="Buscar">
                <button class="btn btn-outline-warning" type="submit">Buscar</button>
            </form>
            <a routerLing="/login" class="btn tbn-warning ms-3">Login</a>
        </div>
    </nav>

    <div class="mt-5">
        <h1 class="text-warning">TU PASIÓN POR LOS VIDEOJUEGOS, NUESTRA RAZÓN DE SER.</h1>
        <h5 class="text-light">Juega más, experimenta más. Descubre GameHub.</h5>
      </div>
    
      <div class="row mt-5">
        <div class="col">
          <button class="btn btn-outline-warning">PC</button>
        </div>
        <div class="col">
          <button class="btn btn-outline-warning">Xbox</button>
        </div>
        <div class="col">
          <button class="btn btn-outline-warning">Nintendo</button>
        </div>
        <div class="col">
          <button class="btn btn-outline-warning">PlayStation</button>
        </div>
    </div>

</div>