<!-- src/app/components/login/login.component.html -->
<div class="container text-center">
    <h2 class="mb-4 text-warning">Inicia sesión</h2>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" />
      </div>
      <button type="submit" class="btn btn-warning">Ingresar</button>
    </form>
  </div>
  