<app-navbar></app-navbar>

<div class="hero-section">
  <div class="overlay">
      <div class="hero-text">
          <h2>TU PASIÓN POR LOS VIDEOJUEGOS, <br> NUESTRA RAZÓN DE SER.</h2>
          <p>Juega más, experimenta más. Descubre GameHub.</p>
      </div>
      <div class="hero-buttons">
          <button class="circle-button">❤</button>
          <button class="circle-button">➕</button>
      </div>
  </div>
  <img [src]="imageUrl" class="hero-image">
</div>
<div class="categories">
  <div class="category" >🎮 PC</div>
  <div class="category">🎮 XBOX</div>
  <div class="category" >🎮 NINTENDO</div>
  <div class="category" >🎮 PLAYSTATION</div>
</div>

<div class="carousel-container">
  <div id="carousel" class="carousel">
      <!-- Carrusel dinámico generado con JavaScript -->
  </div>
</div>