<app-navbar></app-navbar>

<div class="hero-section">
  <div class="overlay">
      <div class="hero-text">
          <h2>TU PASIÓN POR LOS VIDEOJUEGOS, <br> NUESTRA RAZÓN DE SER.</h2>
          <p>Juega más, experimenta más. Descubre GameHub.</p>
      </div>
      <div class="hero-buttons">
          <button class="circle-button">❤</button>
          <button class="circle-button">➕</button>
          <button class="circle-button"><a (click)="goToGame()" class="text-decoration-none text-black" >Ver más</a></button>
      </div>
  </div>
  <img [src]="imageUrl" class="hero-image">
</div>
<div class="categories">
  <div class="category" (click)="getJuegoByPlataforma('673216eb8217039c5e4c4c32')">🎮 PC</div>
  <div class="category" (click)="getJuegoByPlataforma('673216ff8217039c5e4c4c35')">🎮 XBOX</div>
  <div class="category" (click)="getJuegoByPlataforma('6732152c8217039c5e4c4c2d')">🎮 NINTENDO</div>
  <div class="category" (click)="getJuegoByPlataforma('673216f98217039c5e4c4c34')">🎮 PLAYSTATION</div>
</div>

<div class="container-fluid mt-3 mb-3">
  <div class="row g-1">
    <div class="col-12 col-md-6 col-lg-12 d-flex">
      <div class="h-100 p-3" *ngFor="let videojuego of this.juegosPlataformaInterface">
        <app-juego-card-home [juego]="videojuego"></app-juego-card-home>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>