<app-navbar></app-navbar>

<div class="container text-center">
    <div class="mt-5">
        <h1 class="text-warning">TU PASIÓN POR LOS VIDEOJUEGOS, NUESTRA RAZÓN DE SER.</h1>
        <h5 class="text-light">Juega más, experimenta más. Descubre GameHub.</h5>
      </div>
    
      <div class="row mt-5">
        <div class="col">
          <button class="btn btn-outline-warning">PC</button>
        </div>
        <div class="col">
          <button class="btn btn-outline-warning">Xbox</button>
        </div>
        <div class="col">
          <button class="btn btn-outline-warning">Nintendo</button>
        </div>
        <div class="col">
          <button class="btn btn-outline-warning">PlayStation</button>
        </div>
    </div>

</div>